@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto+Slab:wght@300;400;700&display=swap');

/*------------------------ General ---------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Roboto Slab', sans-serif;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section {
    padding: 1rem;
}

nav {
    height: 10vh;
    background-color: #3e7180;
    position: relative;
}

.navbar-collapse {
    background-color: #3e7180;
    z-index: 1;
}

header {
    padding-top: 0px;
}


footer {
    box-sizing: border-box;
    height: 15vh;
    text-align: center;
    background-color: #657a80;
    align-items: center;
    color: #C9F3FF;
}

.social-links i {
    color: #C9F3FF;
    font-size: 1.2rem;
    margin-right: 10px;
    margin-top: 1rem;
}

.legal-bits {
    font-size: 0.6rem;
    line-height: 1.2rem;
}

.legal-bits p {
    margin: 0;
}

/*-------------------------- Hero Image / Jumbotron--------------------------*/

.hero-image {
    height: 80vh;
    background: url(../images/band_image.jpg) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opaque-overlay {
    position: absolute;
    top: 10vh;
    left: 0;
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Converted hex footer bg-color to rgba for .jumbotron bg-color using hexcolortool.com */

.jumbotron {
    position: relative;
    background-color: rgba(101, 123, 129, 0.50);
    margin: 0px;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
}

.jumbotron-btn {
    border-radius: 0.2rem;
    color: #3e7180;
    background-color: #7de3ff;
    border: solid 1px #64b5cc;
    font-weight: bold;
}

.jumbotron-btn:hover {
    border-radius: 0.2rem;
    color: #7de3ff;
    background-color: #3e7180;
    border: solid 1px #64b5cc;
    font-weight: bold;
}

/*-------------------------- Gigs Table --------------------------*/

.gigs-table {
    padding-top: 1rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.gigs-table a {
 color: #212529;
}

.more-info-row-gigs td {
    padding: 0;
}

/*-------------------------- About Page --------------------------*/

.band-member-info {
    border: none;
}

.card-title {
    margin-top: .75rem;
}